html{
    background-repeat: no-repeat;
    background-size: 100vw;
}
header {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}
#content {
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

#logo{
    margin-left: 5%;
    height: 15%;
    width: 25%;
}

#media{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding-left: 80%;
}

#insta{
    width: 31%;
    z-index: 1;
}

#twitter{
    width: 24%;
    z-index: 1;
}

#profil{
    width: 75%;
    z-index: 1;
}